# Core
numpy
pandas
scipy

# Visualization (optional for training)
matplotlib
seaborn
plotly

# ML stack (LOCKED)
scikit-learn==1.8.0
imbalanced-learn==0.14.1
mlflow==3.8.1

# Serialization
cloudpickle
dill

# Backend / API
fastapi
uvicorn
python-multipart
jinja2

# Database
pymongo
certifi

# AWS
boto3
botocore
mypy-boto3-s3

# Utilities
python-dotenv
PyYAML
from_root

# Dev / notebooks
ipykernel

# Local package
-e .
